---
import Container from "@atoms/Container.astro";

import { Icon } from "astro-icon/components";

import SOCIALS from "@assets/socials.json";

interface Props {
    size?: number;
    gap?: number;
}

const { size = 3, gap = 12 } = Astro.props;
---

<footer class="text-white" class:list={[`text-${size}xl`]}>
    <Container squeezed={true} background={"bg-figred"}>
        <div class="flex justify-center" class:list={[`gap-${gap}`]}>
            {
                SOCIALS.map((social) => (
                    <a href={social.url} target="_blank">
                        <Icon name={social.icon} />
                    </a>
                ))
            }
        </div>
    </Container>
</footer>
