---
import { Icon } from "astro-icon/components";

interface Props {
    authors: string;
    year: number;
    title: string;
    venue: string;
    url: string;
}

const { authors, year, title, venue, url } = Astro.props;
---

<article>
    <h4 class="mb-2">
        <span>{authors}</span>&nbsp;
        <span class="opacity-60">({year}).</span>&nbsp;
        <span class="font-bold">{title}.</span>&nbsp;
        <span class="text-sm italic font-light">{venue}</span>
    </h4>
    <section class="text-sm mb-2">
        <slot />
    </section>
    <footer class="text-sm font-bold">
        <a class="text-figred flex content-center" href={url} target="_blank">
            <Icon class="inline mr-2 text-2xl" name="tdesign:link" />
            <span class="underline self-center">{url}</span>
        </a>
    </footer>
</article>
